<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    <header>
     
            <p>Login User:  <%= username %> </p>
            <p>App:  <%= appname %> </p>
    </header>
<main>
   Index page
</main>
</body>
</html>